<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Experienced full-stack software engineer with a MBA in 
                                      finance and strategy and a previous career in finance, 
                                      real estate and data analysis.">

    <!--======================== UNICONS ========================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css">

    <!--===================== SWIPER CSS ========================-->
    <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="static/css/styles.css">

    <title>Lillian Lakes</title>
</head>

<body>

    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Lillian Lakes</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i> Home
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#about" class="nav__link">
                            <i class="uil uil-user nav__icon"></i> About
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i> Skills
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#history" class="nav__link">
                            <i class="uil uil-briefcase-alt nav__icon"></i> History
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#portfolio" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i> Portfolio
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="#contact" class="nav__link">
                            <i class="uil uil-message nav__icon"></i> Contact
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>
            <div class="nav__btns">
                <!-- Light/Dark Theme Change -->
                <i class="uil uil-moon change-theme" id="theme-button"></i>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home section" id="home">

            {% if success %}
            <div class="success">
                <p>Thanks for your message. I will get back to you soon.</p>
            </div>
            {% endif %}
            {% for message in get_flashed_messages() %}
            <div class="fail">
                <p>{{ message }}</p>
                <a href="#contact">Go to Contact Form</a>
            </div>

            {% endfor %}

            <div class="home__container container grid">
                <div class="home__content grid">
                    <div class="home__social">
                        <a href="https://www.linkedin.com/in/lillianlakes/" target="_blank" class="home__social-icon">
                            <i class="uil uil-linkedin-alt"></i>
                        </a>
                        <a href="https://github.com/lillianlakes" target="_blank" class="home__social-icon">
                            <i class="uil uil-github-alt"></i>
                        </a>
                        <a href="https://twitter.com/Just_Lillie" target="_blank" class="home__social-icon">
                            <i class="uil uil-twitter-alt"></i>
                        </a>
                    </div>
                    <div class="home__img">
                        <svg class="home__blob" viewbox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <mask id="mask0" mask-type="alpha">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                                130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                            </mask>
                            <g mask="url(#mask0)">
                                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                                <image class="home__blob-img" x="0" y="0" xlink:href="static/img/lillian_mustard.jpg" />
                            </g>
                        </svg>
                    </div>
                    <div class="home__data">
                        <h1 class="home__title">Hi, I'm Lillian</h1>
                        <h3 class="home__subtitle">Full-Stack Developer</h3>
                        <p class="home__description">Experienced software engineer with a previous career in finance, 
                          real estate and data analysis</p>
                        <a href="#contact" class="button button--flex">
                            Get in touch <i class="uil uil-message button__icon"></i>
                        </a>
                    </div>
                </div>

                <div class="home__scroll">
                    <a href="#about" class="home__scroll-button button--flex">
                        <i class="uil uil-mouse-alt home__scroll-mouse"></i>
                        <span class="home__scroll-name">scroll down</span>
                        <i class="uil uil-arrow-down home__scroll-arrow"></i>

                    </a>
                </div>
            </div>
        </section>

        <!--==================== ABOUT ====================-->
        <section class="about section" id="about">
            <h2 class="section__title">About Me</h2>
            <span class="section__subtitle">From Finance to Software Engineering</span>

            <div class="about__container container grid">
              <div class="about__row">
                <div class="about__column">
                  <img src="static/img/lillian_yellow.jpg" alt="" class="about__img">
                </div>
                <div class="about__column">
                  <p class="about__description p1">I recently worked as a software engineer at Foqal and completed 
                    Rithm School's full-stack software engineering program, where I worked with languages such as 
                    JavaScript, Python, SQL and related frameworks and libraries. I am excited to share my projects 
                    and experience.
                  </p>
                  <p class="about__description">
                    Prior to Foqal and Rithm, I worked in finance, real estate and data science. Working in finance 
                    and real estate, I gained experience analyzing data, communicating with multiple stake holders, 
                    managing tight deadlines, and eliminating inefficiencies. Working in data science, I programmed 
                    with languages like R, Python and STATA, collaborated within teams, and built research and 
                    critical thinking skills. While I enjoyed programming and technological innovation research, I 
                    want to create things and be an active part of innovating rather than studying innovation data. In 
                    finance, I was most thrilled to analyze, value and help fund technology companies. In data science, 
                    I was most thrilled to research technology companies and enjoyed programming. I decided to pivot 
                    into software engineering because I would like to work with others to build applications that people 
                    use at scale and get value from. 
                  </p>
                </div>
              </div>
                

                <div class="about__data">

                    <div class="about__info">
                        <div>
                            <span class="about__info-title">07+</span>
                            <span class="about__info-name">Programming <br> languages</span>
                        </div>
                        <div>
                            <span class="about__info-title">16+</span>
                            <span class="about__info-name">Years <br> professional <br> experience</span>
                        </div>
                        <div>
                            <span class="about__info-title">07+</span>
                            <span class="about__info-name">Frameworks/ <br> libraries</span>
                        </div>
                    </div>

                    <div class="about__buttons">
                        <a download="" href="static/pdf/resume_lillian_lakes.pdf" class="button button--flex">
                            Download Resume<i class="uil uil-download-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!--==================== SKILLS ====================-->
        <section class="skills section" id="skills">
            <h2 class="section__title">Skills</h2>

            <div class="skills__container container grid">
                <!--==================== SKILLS 1 ====================-->
                <!-- TODO: add logos for programming skills and remove lines -->
                <div class="skills__content skills__open">
                    <div class="skills__header">
                        <i class="uil uil-brackets-curly skills__icon"></i>

                        <div>
                            <h1 class="skills__title">Frontend</h1>
                            <span class="skills__subtitle">languages & libraries</span>
                        </div>

                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">React</h3>
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">HTML</h3>
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">CSS</h3>
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">JS</h3>
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                          <div class="skills__titles">
                              <h3 class="skills__name">TypeScript</h3>
                          </div>
                          <div class="skills__bar">
                              <span class="skills__percentage"></span>
                          </div>
                      </div>
                    </div>
                </div>

                <!--==================== SKILLS 2 ====================-->
                <div class="skills__content skills__close">
                    <div class="skills__header">
                        <i class="uil uil-server-network skills__icon"></i>

                        <div>
                            <h1 class="skills__title">Backend</h1>
                            <span class="skills__subtitle">languages, frameworks & databases</span>
                        </div>

                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>


                    <div class="skills__list grid">
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Python</h3>
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Flask</h3>
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Node.js</h3>
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">SQL/PostgreSQL/SQLAlchemy</h3>
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                          <div class="skills__titles">
                              <h3 class="skills__name">GraphQL</h3>
                          </div>
                          <div class="skills__bar">
                              <span class="skills__percentage"></span>
                          </div>
                        </div>
                        <div class="skills__data">
                          <div class="skills__titles">
                              <h3 class="skills__name">R</h3>
                          </div>
                          <div class="skills__bar">
                              <span class="skills__percentage"></span>
                          </div>
                      </div>
                    </div>
                </div>
                <!--==================== SKILLS 3 ====================-->
                <div class="skills__content skills__close">
                    <div class="skills__header">
                        <i class="uil uil-users-alt skills__icon"></i>

                        <div>
                            <h1 class="skills__title">Soft</h1>
                            <span class="skills__subtitle">skills & strengths</span>
                        </div>

                        <i class="uil uil-angle-down skills__arrow"></i>
                    </div>

                    <div class="skills__list grid">
                        <div class="skills__data">
                          <div class="skills__titles">
                              <h3 class="skills__name">Communication</h3>
                          </div>
                          <div class="skills__bar">
                              <span class="skills__percentage"></span>
                          </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Planning & Analysis</h3>
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                        <div class="skills__data">
                          <div class="skills__titles">
                              <h3 class="skills__name">Leadership & Collaboration</h3>
                          </div>
                          <div class="skills__bar">
                              <span class="skills__percentage"></span>
                          </div>
                        </div>
                        <div class="skills__data">
                          <div class="skills__titles">
                              <h3 class="skills__name">Research</h3>
                          </div>
                          <div class="skills__bar">
                              <span class="skills__percentage"></span>
                          </div>
                        </div>
                        <div class="skills__data">
                            <div class="skills__titles">
                                <h3 class="skills__name">Innovation</h3>
                            </div>
                            <div class="skills__bar">
                                <span class="skills__percentage"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                <div>

                </div>
            </div>
        </section>

        <!--==================== EDUCATION & WORK HISTORY ====================-->
        <section class="history section" id="history">
            <h2 class="section__title">Education & Work History</h2>
            <div class="history__container container">
                <div class="history__tabs">
                    <div class="history__button button--flex history__active" data-target="#education">
                        <i class="uil uil-graduation-cap history__icon"></i>
                        Education
                    </div>
                    <div class="history__button button--flex" data-target="#work">
                        <i class="uil uil-briefcase-alt history__icon"></i>
                        Work
                    </div>
                </div>
                <div class="history__sections">
                    <!--==================== EDUCATION CONTENT ====================-->
                    <div class="history__content history__active" data-content id="education">
                        <!--==================== EDUCATION 1 ====================-->
                        <div class="history__data history__left">
                            <div>
                                <h3 class="history__title">Full-Stack Software Engineering Program</h3>
                                <span class="history__subtitle">San Francisco, CA - Rithm School</span>
                                <div class="history__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    2021
                                </div>
                            </div>

                            <div>
                                <span class="history__rounder"></span>
                                <span class="history__line"></span>
                            </div>
                        </div>
                        <!--==================== EDUCATION 2 ====================-->
                        <div class="history__data">
                            <div></div>
                            <div>
                                <span class="history__rounder"></span>
                                <span class="history__line"></span>
                            </div>

                            <div>
                                <h3 class="history__title">M.A. in Management Research (Technological Innovation, Entrepreneurship, and Strategy Group)</h3>
                                <span class="history__subtitle">Cambridge, MA - MIT Sloan School of Management</span>
                                <div class="history__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    2014 - 2017
                                </div>
                            </div>
                        </div>
                        <!--==================== EDUCATION 3 ====================-->
                        <div class="history__data history__left">
                          <div>
                            <h3 class="history__title">M.B.A. in Finance and Strategy</h3>
                            <span class="history__subtitle">Atlanta, GA - Emory University (Goizueta Business School)</span>
                            <div class="history__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                2009 - 2011
                              </div>
                          </div>

                          <div>
                              <span class="history__rounder"></span>
                              <span class="history__line"></span>
                          </div>
                      </div>
                        <!--==================== EDUCATION 4 ====================-->
                        <div class="history__data">
                          <div></div>
                          <div>
                              <span class="history__rounder"></span>
                          </div>

                          <div>
                            <h3 class="history__title">B.A. in Economics and Management Information Systems</h3>
                            <span class="history__subtitle">Pittsburgh, PA - Chatham University</span>
                            <div class="history__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                1999 - 2002
                              </div>
                          </div>
                      </div>
                    </div>


                    <!--==================== WORK CONTENT ====================-->
                    <div class="history__content" data-content id="work">
                        <!--==================== WORK 1 ====================-->
                        <div class="history__data">
                            <div></div>

                            <div>
                                <span class="history__rounder"></span>
                                <span class="history__line"></span>
                            </div>
                            <div>
                                <h3 class="history__title">Software Engineer</h3>
                                <span class="history__subtitle">San Francisco, CA - Foqal</span>
                                <div class="history__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    2021
                                </div>
                            </div>
                        </div>
                        <!--==================== WORK 2 ====================-->
                        <div class="history__data history__left">
                            <div>
                                <h3 class="history__title">Real Estate Investment Advisor</h3>
                                <span class="history__subtitle">Los Angeles, CA - Marcus & Millichap</span>
                                <div class="history__calendar">
                                    <i class="uil uil-calendar-alt"></i>
                                    2019 - 2021
                                </div>
                            </div>

                            <div>
                                <span class="history__rounder"></span>
                                <span class="history__line"></span>
                            </div>
                        </div>

                        <!--==================== WORK 3 ====================-->

                        <div class="history__data">
                          <div></div>

                          <div>
                              <span class="history__rounder"></span>
                              <span class="history__line"></span>
                          </div>
                          <div>
                            <h3 class="history__title">Partner and Investment Committee Lead</h3>
                            <span class="history__subtitle">Denver, CO - Next Wave Impact Fund</span>
                            <div class="history__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                2017 - 2021
                              </div>
                          </div>
                      </div>
                      
                        <!--==================== WORK 4 ====================-->
                        <div class="history__data history__left">
                          <div>
                              <h3 class="history__title">Research Economist</h3>
                              <span class="history__subtitle">Cambridge, MA - US Census Bureau</span>
                              <div class="history__calendar">
                                  <i class="uil uil-calendar-alt"></i>
                                  2016 - 2017
                              </div>
                          </div>

                          <div>
                              <span class="history__rounder"></span>
                              <span class="history__line"></span>
                          </div>
                      </div>
                      
                        <!--==================== WORK 5 ====================-->

                        <div class="history__data">
                          <div></div>

                          <div>
                              <span class="history__rounder"></span>
                              <span class="history__line"></span>
                          </div>
                          <div>
                            <h3 class="history__title">Research Assistant</h3>
                            <span class="history__subtitle">Cambridge, MA - MIT Sloan School of Management</span>
                            <div class="history__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                2015 - 2017
                              </div>
                          </div>
                      </div>

                        <!--==================== WORK 6 ====================-->
                        <div class="history__data history__left">
                          <div>
                              <h3 class="history__title">Senior Finance Associate</h3>
                              <span class="history__subtitle">Atlanta, GA - Delta Air Lines</span>
                              <div class="history__calendar">
                                  <i class="uil uil-calendar-alt"></i>
                                  2011 - 2013
                              </div>
                          </div>

                          <div>
                              <span class="history__rounder"></span>
                              <span class="history__line"></span>
                          </div>
                      </div>
                      
                        <!--==================== WORK 7 ====================-->
                        <div class="history__data">
                          <div></div>

                          <div>
                              <span class="history__rounder"></span>
                              <span class="history__line"></span>
                          </div>
                          <div>
                            <h3 class="history__title">Investment Banking Associate</h3>
                            <span class="history__subtitle">Atlanta, GA - Barclays Capital</span>
                            <div class="history__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                2010
                              </div>
                          </div>
                      </div>
                      
                        <!--==================== WORK 8 ====================-->
                        <div class="history__data history__left">
                          <div>
                            <h3 class="history__title">Various Roles in Real Estate, Mortgage Services & Quality Assurance</h3>
                            <span class="history__subtitle">Atlanta, GA</span>
                            <div class="history__calendar">
                                <i class="uil uil-calendar-alt"></i>
                                2003 - 2009
                              </div>
                          </div>

                          <div>
                              <span class="history__rounder"></span>
                          </div>
                      </div>                        
                    </div>
                </div>
            </div>
        </section>

        <!--==================== PORTFOLIO ====================-->
        <section class="portfolio section" id="portfolio">
            <h2 class="section__title">Portfolio</h2>
            <span class="section__subtitle">Recent Projects</span>

            <div class="portfolio__container container swiper-container">
                <div class="swiper-wrapper">

                    <!--==================== PORTFOLIO 1 ====================-->
                    <div class="portfolio__content grid swiper-slide">
                        <img src="static/img/jobly.png" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Jobly</h3>
                            <div>
                                <p class="project__blurb">A full-stack job search application that allows users to search jobs and companies, apply to jobs, and update their profiles.</p>

                                <p>Built using: </p>
                                <ul class="portfolio__description">
                                    <li>- React</li>
                                    <li>- Node.js</li>
                                    <li>- Express</li>
                                    <li>- Bootstrap</li>
                                    <li>- PostgreSQL</li>
                                    <li>- JSONSchema</li>
                                    <li>- JSON Web Token</li>
                                    <li>- bcrypt</li>
                                </ul>
                            </div>
                            <a href="https://jobly.demo.lillianlakes.com/" target="_blank" class="button button--flex button--small portfolio__button">
                                Demo
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                            <a href="https://github.com/lillianlakes/jobly-front-end.git" class="button button--flex button--small portfolio-github__button">
                                GitHub
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>

                    <!--==================== PORTFOLIO 2 ====================-->
                    <div class="portfolio__content grid swiper-slide">
                        <img src="static/img/warbler.png" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Warbler</h3>
                            <p class="project__blurb">A Twitter-like social networking platform that allows users to post, view, like, or unlike messages and view a feed of, follow, or unfollow other users.</p>

                            <p>Built using: 
                                <ul class="portfolio__description">
                                    <li>- Flask</li>
                                    <li>- Python</li>
                                    <li>- PostgreSQL</li>
                                    <li>- SQLAlchemy</li>
                                    <li>- Jinja</li>
                                    <li>- WTForms</li>
                                </ul>
                            </p>
                            <a href="https://lillian-warbler.herokuapp.com/" target="_blank" class="button button--flex button--small portfolio__button">
                                Demo
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                            <a href="https://github.com/lillianlakes/warbler.git" class="button button--flex button--small portfolio-github__button">
                                GitHub
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>

                    <!--==================== PORTFOLIO 3 ====================-->
                    <div class="portfolio__content grid swiper-slide">
                        <img src="static/img/portfolio-site.png" alt="" class="portfolio__img">

                        <div class="portfolio__data">
                            <h3 class="portfolio__title">Personal Website</h3>
                            <p class="project__blurb">This responsive personal portfolio website collapses and flip elements and has a light/dark mode that is remembered through each user's localStorage.</p>

                            <p>Built using: 
                                <ul class="portfolio__description">
                                    <li>- HTML</li>
                                    <li>- CSS</li>
                                    <li>- JavaScript</li>
                                    <li>- Flask</li>
                                    <li>- Flask-Mail</li>
                                    <li>- Swiper</li>
                                    <li>- WTForms for CSRF protection</li>
                                </ul>
                            </p>
                            <a href="#" class="button button--flex button--small portfolio__button">
                                Demo
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                            <a href="https://github.com/lillianlakes/personal-website.git" class="button button--flex button--small portfolio-github__button">
                                GitHub
                                <i class="uil uil-arrow-right button__icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-button-next">
                    <i class="uil uil-angle-right-b swiper-portfolio-icon swiper-portfolio-icon"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="uil uil-angle-left-b swiper-portfolio-icon swiper-portfolio-icon"></i>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </section>

        <!--==================== CONTACT ME ====================-->
        <section class="contact section" id="contact">
            <h2 class="section__title">Contact Me</h2>
            <span class="section__subtitle">Get in touch</span>

            <div class="contact__container container grid">
                <div>
                    <div class="contact__information">
                        <i class="uil uil-phone contact__icon"></i>

                        <div>
                            <h3 class="contact__title">Call/Text</h3>
                            <span class="contact__subtitle">(404) 734-4044</span>

                        </div>
                    </div>
                    <div class="contact__information">
                        <i class="uil uil-envelope contact__icon"></i>

                        <div>
                            <h3 class="contact__title">Email</h3>
                            <span class="contact__subtitle">lillian.lakes@gmail.com</span>

                        </div>
                    </div>
                    <div class="contact__information">
                        <i class="uil uil-map-marker contact__icon"></i>

                        <div>
                            <h3 class="contact__title">Location</h3>
                            <span class="contact__subtitle">United States</span>

                        </div>
                    </div>
                </div>



                <!-- <form action="" class="contact__form grid"> -->
                <form id="contact-form" method="POST" action="/" class="contact__form grid">

                    {% for message in form.email.errors %}
                    <div class="flash">{{ message }}</div>
                    {% endfor %}

                    {{ form.hidden_tag() }}
                    <div class="contact__input grid">
                        <div class="contact__content">
                            <label for="name" class="contact__label">Name</label>
                            <!-- <input type="text" class="contact__input"> -->
                            {{ form.name(class_="contact__input") }}
                        </div>
                        <div class="contact__content">
                            <label for="email" class="contact__label">Email</label>
                            <!-- <input type="email" class="contact__input"> -->
                            {{ form.email(class_="contact__input") }}
                        </div>
                    </div>

                    <div class="contact__content">
                        <label for="message" class="contact__label">Message</label>
                        <!-- <textarea name="" id="" cols="0" rows="7" class="contact__input"></textarea> -->
                        {{ form.message(rows="7", cols="0", class_="contact__input") }}
                    </div>

                    <button class="button button--flex" type="submit">Send Message 
                        <i class="uil uil-message button__icon"></i></button>

                    <!-- <div>
                        <a href="#" class="button button--flex">
                            Send Message
                            <i class="uil uil-message button__icon"></i>
                        </a>
                    </div>  -->
                </form>
            </div>

        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Lillian Lakes</h1>
                    <span class="footer__subtitle">Fullstack developer</span>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="#about" class="footer__link">Resume</a>
                    </li>
                    <li>
                        <a href="#portfolio" class="footer__link">Portfolio</a>
                    </li>
                    <li>
                        <a href="#contact" class="footer__link">Contact</a>
                    </li>
                </ul>

                <div class="footer__social">
                    <a href="https://www.linkedin.com/in/lillianlakes/" target="_blank" class="footer__social">
                        <i class="uil uil-linkedin"></i>
                    </a>
                    <a href="https://github.com/lillianlakes" target="_blank" class="footer__social">
                        <i class="uil uil-github"></i>
                    </a>
                    <a href="https://twitter.com/Just_Lillie" target="_blank" class="footer__social">
                        <i class="uil uil-twitter"></i>
                    </a>
                </div>
            </div>

            <p class="footer__copy">&#169;2021 Lillian Lakes</p>
        </div>

    </footer>

    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <!--==================== SWIPER JS ====================-->
    <script src="static/js/swiper-bundle.min.js"></script>

    <!--==================== MAIN JS ====================-->
    <script src="static/js/main.js"></script>
</body>

</html>

<!--Thanks to Bedimcode for the tutorial this site design is based upon.-->